.blog-post-list {
  .blog-post-date {
    // width: 6em;
    // color: #777;
    width: 50em;
    color: rgb(9, 134, 134);
    display: block;
    float: left;

    @include media-query($on-mobile) {
      display: block;
      float: none;
      color: rgb(9, 134, 134);
      font-size: 11px;
      margin-top: 14px;
    }
  }
  @mixin img-responsive($display: block) {
    display: $display;
    max-width: 100%; // Part 1: Set a maximum relative to the parent
    height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
  }

  .blog-post-title {
    font-size: 100%;
    letter-spacing: normal;
  }
}
